:root {
  color: #ffffff;
  font-family: sans-serif;
}

body {
  background-color: #222;
}

@media (width>1920px) and (height>1080px) {
  :root {
    font-size: 2rem;
  }
}

@media (width>3840px) and (height>2160px) {
  :root {
    font-size: 4rem;
  }
}